@media screen and (max-width: 480px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav .nav-links {
    display: none;
  }
  .nav .nav-button {
    display: none;
  }
  .nav .nav-bars {
    display: block;
  }
  .menu {
    position: fixed;
    background-color: white;
    width: 75%;
    height: 100vh;
    right: -75%;
    top: 0;
    z-index: 999;
    font-size: 1.5rem;
    display: block;
    transition: 0.3s;
  }
  .menu.show {
    right: 0;
  }
  .menu .icon-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 3rem;
  }
  .menu .button-menu {
    border: 1px solid var(--primary-color);
    padding: 30px 30px;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: var(--text-body);
  }
  .menu .menu-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .menu .menu-mobile .menu-links {
    padding: 30px 30px;
  }
  .menu .menu-mobile .menu-links a {
    text-decoration: none;
    color: rgb(26, 26, 26);
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .hero-info-img {
    display: none;
  }
  .hero-section .hero-info-paragraph span:first-child {
    display: none;
  }
  .hero-section .hero-info-paragraph {
    padding-left: 80px;
  }
  .hero-section .hero-button {
    width: 100%;
  }
  .hero-section .hero-title,
  .hero-section .hero-info {
    width: 100%;
  }
  .hero-section .hero-title {
    font-size: 3rem;
    padding: 0 0 20px;
  }
  .hero-section .hero-title .hero_title_pattern {
    display: block;
  }
  .hero-section .hero-title .hero_title_pattern img {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .arrow-right:before {
    width: 200px;
    height: 3px;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .section .section_three {
    display: none;
  }
  .section .section_primary img {
    max-height: 100%;
  }
}
